In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.2.1     ✔ purrr   0.3.2
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   1.0.0     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

## Number of modified concepts

In [2]:
mod <- read_tsv('../data/computed/concepts_with_modifiers.tsv')

mod %>% 
mutate(
    in_name = str_detect(concept_name %>% str_to_lower, 'significant|serious|severe')
) %>%
distinct(concept_code, .keep_all = T) %>%
summarize(
    n_total = n(),
    n_in_name = sum(in_name)
)

Parsed with column specification:
cols(
  concept_id = col_double(),
  concept_name = col_character(),
  concept_code = col_double()
)

  n_total n_in_name
1 597     525

## Parents

In [10]:
parent <- read_tsv('../data/computed/parents_with_modified_children.tsv',
                   col_types = cols(.default = "c"))

parent %>%
    distinct(parent_concept_code, .keep_all = T) %>%
    summarize(
        n_parent = n()
    )

  n_parent
1 460

## Parent matches

In [11]:
matches <- read_csv('../data/extracted_parents.csv.xz')

Parsed with column specification:
cols(
  NCT_id = col_character(),
  matched_string = col_character(),
  criteria_string = col_character(),
  parent_concept_id = col_double(),
  parent_concept_name = col_character()
)

In [14]:
matches %>% 
summarize(
    n_matches = n(),
    n_distinct_parents = n_distinct(parent_concept_id),
    n_trials = n_distinct(NCT_id)
)

  n_matches n_distinct_parents n_trials
1 301641    232                148959